:root {
    /*Palette de couleur charte graphique*/
    --primary-color:  #1c1c68;
    --secondary-color: #00a99d;
    --tertiary-color: #FFFFFF; 

    /*Typographie*/
    --primary-font: "Tenor Sans", serif;
    --secondary-font: "Audiowide", serif;
}

body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

.logo {
    width: 100px;
}

nav {
    background-color: var(--primary-color);
    height: 13vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10% 0 3%;
}

nav ul {
    list-style-type: none; /* Supprime les puces */
    display: flex; /* Affiche les éléments de la liste horizontalement */
    gap: 50px; /* Espace entre les éléments */
}

nav a {
    color: var(--tertiary-color);
    text-decoration: none;
    font-family: var(--primary-font);
}

.container {
    background-color: var(--primary-color);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 87vh;
}

.titre {
    color: var(--secondary-color);
    font-family: var(--secondary-font);
    margin-bottom: 1%;
    font-size: xx-large;
    font-weight: 100;
}

.sous-titre {
    color: var(--tertiary-color);
    font-family: var(--primary-font);
    font-size: x-large;
    margin-bottom: 3%;
}

.bouton {
    text-decoration: none;
    color: var(--secondary-color);
    font-family: var(--primary-font);
    font-size: small;
    font-weight: 600;
    padding: 0.75% 0.75%;
    border-radius: 8px;
    border: solid;
    border-color: var(--secondary-color);
    background-color: var(--primary-color);
    margin-bottom: 5%;
    transition: background-color 0.4s ease;
}

.bouton:hover {
    background-color: rgba(0, 169, 157, 0.3);
}

.photo {
    width: 100px;
    border: solid;
    border-color: var(--secondary-color);
    border-radius: 8px;
    margin: 2% 0;
}

.texte-profil {
    display: flex;
    align-self: flex-start;
    font-family: var(--primary-color);
    font-size: larger;
    color: var(--tertiary-color);
    padding: 0 25%; 
    margin: 0 0 3% 0;
}

.container-portfolio {
    display: flex;
    flex-wrap: wrap;   
    gap: 20px; 
    justify-content: center;
    padding: 3% 5%;
}

.portfolio-container img {
    width: 50%;
}

.image {
    position: relative;
    width: 400px; 
    height: 200px; 
    overflow: hidden;
    border-radius: 10px;
    margin: 0 7% 4% 7%;
}

.image img {
    width: 100%;
    height: 100%;
    transition: transform 0.3s ease;
}

.image:hover img {
    transform: scale(1.1);
}

.image .overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    color: var(--tertiary-color);
    font-family: var(--primary-font);
    font-size: medium;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: opacity 0.3s ease;
    border-radius: 10px;
}

.image:hover .overlay {
    opacity: 1;
}

.container-contact {
    display: flex;
    flex-direction: column;
    gap: 15px;
    max-width: 500px;
    margin: 1% 5% 3% 5%;
    background-color: var(--secondary-color);
    border-radius: 10px;
    padding: 0 10%;
}

.container-contact label {
    font-family: var(--primary-font);
    color: var(--tertiary-color);
    font-size: medium;
}

.container-contact input {
    padding: 10px;
    font-size: medium;
    font-family: var(--primary-font);
}

.container-contact textarea {
    padding: 5px;
    font-size: medium;
    font-family: var(--primary-font);
}

.container-contact .form-1 {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.container-contact .form-3 {
    flex: 1;
}

.container-contact .form-2 {
    flex-direction: column;
}

.container-contact .envoyer {
    padding: 10px 20px;
    background-color: var(--primary-color);
    color: var(--tertiary-color);
    font-family: var(--primary-font);
    font-size: medium;
    cursor: pointer;
}

